<html>
    <head>
        <title>InfoGamer</title>
        <meta charset = "utf-8">
        <meta author = "Luiz Eduardo Leroy">
        <meta description = "Site de informações sobre games">
        <link href = "/public/estilo/style.css" rel = "stylesheet">
    </head>
    <body>
        <header>
            <div class = "center">
                <div class = "site-logo">
                    <h1>InfoGamer</h1>
                    <div class = "pesquisa-site">
                        <form>
                            <input type = "text" name = "busca" placeholder = "Digite aqui sua busca"/>
                        </form>
                    </div>
                </div>
            </div>
            <div class = "center">
                <nav>
                    <ul>
                        <li><a href = "/home">Home</a></li>
                        <li><a href = "/About">About</a></li>
                    </ul>
                </nav>
            </div>
        </header>